<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to MyDiary <%= currentUser.username %></h1>
            <p>Write your daily stories and keep it online</p>
            <a class="btn btn-success btn-lg" href="/<%= currentUser._id %>/notes/new">add new note</a>
        </div>
    </div>
    <h2>Your notes:</h2>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% notes.forEach((note) => { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <h1><%= note.title.substring(0, 20) %></h1>
                    <p><%= note.content.substring(0, 30) %></p>
                    <span>Date: <%= note.created.toDateString() %></span>
                    <a class="readmore btn btn-sm" href="/<%= currentUser._id %>/notes/<%=note._id%>"> Read</a>
                </div>
            </div> 
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>


